<div class="center-hor container-input">
    ID:
    <input type="text" name="id" class="width-100" 
    [(ngModel)]="mercadoria.id" required minlength="1" #validId="ngModel">
    <div *ngIf="!validId.valid">
        <span *ngIf="validId.errors.required">Campo obrigatório</span>
        <span *ngIf="validId.errors.minlength">Necessário pelo menos 1 caracteres</span>
    </div>
    
    Descrição:
    <input type="text" name="descricao" class="width-100" 
    [(ngModel)]="mercadoria.descricao"
     required minlength="2" #validdescricao="ngModel">
     <div *ngIf="!validdescricao.valid">
        <span *ngIf="validdescricao.errors.required">Campo obrigatório</span>
        <span *ngIf="validdescricao.errors.minlength">Necessário pelo menos 2 caracteres</span>
    </div>
    
    Quantidade em Estoque:
    <input type="text" name="quantidadeEstoque" class="width-100" 
    [(ngModel)]="mercadoria.quantidadeEstoque" 
    required minlength="1" #validquantidadeEstoque="ngModel">
    <div *ngIf="!validquantidadeEstoque.valid">
       <span *ngIf="validquantidadeEstoque.errors.required">Campo obrigatório</span>
       <span *ngIf="validquantidadeEstoque.errors.minlength">Necessário pelo menos 1 caracteres</span>
  </div>
    
    Quantidade mínima:
    <input type="text" name="quantidadeMinima" class="width-100" 
    [(ngModel)]="mercadoria.quantidadeMinima" 
    required minlength="1" #validquantidadeMinima="ngModel">
    <div *ngIf="!validquantidadeMinima.valid">
       <span *ngIf="validquantidadeMinima.errors.required">Campo obrigatório</span>
       <span *ngIf="validquantidadeMinima.errors.minlength">Necessário pelo menos 1 caracteres</span>
   </div>

    <button [disabled]="!validId.valid || !validdescricao.valid || !validquantidadeEstoque.valid 
    || !validquantidadeMinima.valid"
    (click)="salvarMercadoria()">Salvar mercadoria</button>
    <button [routerLink]="['/mercadorias']">Cancelar</button>
</div>